div.css-r421ms.e10yg2by1 {
    background-color: #AAB7B8;
    border: 3px solid #1303AF;
    padding: 20px 20px 20px 40px;
   /* position: relative; */
/*    padding: 5% 5% 5% 10%; */
    border-radius: 10px;
}

